/* Navbar Styles */
.navbar {
    background-color: #062f5b; /* Blue background */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  